.about {
  background-color: #0a2850;
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 119px 0 173px;
}

.about__title {
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
  max-width: 251px;
  margin: 0;
  padding-left: 80px;
}

.about__content {
  width: 100%;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  display: flex;
}

.about__paragraph {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #0077ff;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
  background-color: #2f80ed;
  position: absolute;
  top: -152px;
  left: -129px;
  border-radius: 50%;
  width: 426px;
  height: 426px;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
