.footer {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  line-height: 20px;
  padding: 60px 80px 0;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  box-sizing: border-box;
}

.footer__contents {
  display: flex;
  margin: auto;
}

.footer__logo {
  max-width: 105px;
  min-height: 39px;
}

.footer__social-heading {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 20px;
}

.footer__social-link {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.footer__social-link:hover {
  color: #ccc;
}

.footer__content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 60px;
}

.footer__list {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.footer__list-item {
  text-align: center;
  display: flex;
  list-style-type: none;
  margin: 20px 0 16px;
  padding: 0;
}

.footer__copyright {
  color: #fff;
  margin: 108px 0 auto;
  padding-bottom: 60px;
}
